h1 {
    text-align: center;
}
h2,
h3,
h4,
h5 {
    margin-left: 80px;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    border-bottom-style: solid;
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

ol {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

li {
    padding: 2px;
}

p a {
    margin-left: 35px;
    font-size: 20px;
}

.short-description {
    font-size: 24px;
    padding-left: 25px;
}

img {
    display: block;
    margin: auto;
}